VITE_API_URL=http://localhost:3001/{{kc|mex}}
VITE_APPLICATION={{KC|MEX}}
VITE_BASEPATH={{/kc|/mex}}
VITE_ENVIRONMENT=TEST
VITE_MATOMO_URL=
VITE_MATOMO_SITE_ID=
VITE_PROTECTED_ROUTES=/oversikt,/registrera,/arende
