VITE_API_URL=http://localhost:3001/pt
DOMAIN_NAME=localhost
VITE_APPLICATION=PT
VITE_APPLICATION_NAME="Parkeringstilstånd"
VITE_BASEPATH=/pt
VITE_ENVIRONMENT=TEST
VITE_MATOMO_URL=
VITE_MATOMO_SITE_ID=
VITE_MUNICIPALITY_ID=2281
VITE_SHOW_DEPLOY_INFO=false

#Global flags (Documentation: https://confluence.sundsvall.se/spaces/OA/pages/1259405457/Feature+flaggor+alla+drakar)
VITE_IS_CASEDATA=true
VITE_USE_ESCALATION=true
#Temporary
VITE_USE_RELATIONS=true