PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001/mex
DOMAIN_NAME=localhost
NEXT_PUBLIC_APPLICATION=MEX
NEXT_PUBLIC_APPLICATION_NAME="Mark och exploatering"
NEXT_PUBLIC_BASEPATH=/mex
BASE_PATH=/mex
NEXT_PUBLIC_ENVIRONMENT=TEST
HEALTH_AUTH=false
HEALTH_USERNAME=''
HEALTH_PASSWORD=''
NEXT_PUBLIC_MATOMO_URL=
NEXT_PUBLIC_MATOMO_SITE_ID=
NEXT_PUBLIC_MUNICIPALITY_ID=2281
NEXT_PUBLIC_SHOW_DEPLOY_INFO=false

#Global flags (Documentation: https://confluence.sundsvall.se/spaces/OA/pages/1259405457/Feature+flaggor+alla+drakar)
NEXT_PUBLIC_IS_CASEDATA=true
NEXT_PUBLIC_USE_FACILITIES=true
NEXT_PUBLIC_USE_EXTRA_INFORMATION_STAKEHOLDERS=true
NEXT_PUBLIC_USE_ESCALATION=true
