VITE_API_URL=http://localhost:3001/MSVA
DOMAIN_NAME=localhost
VITE_APPLICATION=MSVA
VITE_APPLICATION_NAME="MittSverige Vatten &h avfall"
VITE_BASEPATH=/MSVA
VITE_ENVIRONMENT=TEST
VITE_MATOMO_URL=
VITE_MATOMO_SITE_ID=
VITE_MUNICIPALITY_ID=2281
VITE_REOPEN_SUPPORT_ERRAND_LIMIT=30
VITE_SHOW_DEPLOY_INFO=false

#Global flags (Documentation: https://confluence.sundsvall.se/spaces/OA/pages/1259405457/Feature+flaggor+alla+drakar)
VITE_IS_SUPPORTMANAGEMENT=true
VITE_USE_TWO_LEVEL_CATEGORIZATION=true
VITE_USE_EMAIL_CONTACT_CHANNEL=true
VITE_USE_SMS_CONTACT_CHANNEL=true
VITE_USE_ROLES_FOR_STAKEHOLDERS=true
VITE_USE_ESCALATION=true