VITE_API_URL=http://localhost:3001/kc
DOMAIN_NAME=localhost
VITE_APPLICATION=KC
VITE_APPLICATION_NAME="Kontakt Sundsvall"
VITE_BASEPATH=/kc
VITE_ENVIRONMENT=TEST
VITE_MATOMO_URL=
VITE_MATOMO_SITE_ID=
VITE_MUNICIPALITY_ID=2281
VITE_REOPEN_SUPPORT_ERRAND_LIMIT=60
VITE_SHOW_DEPLOY_INFO=false

#Global flags (Documentation: https://confluence.sundsvall.se/spaces/OA/pages/1259405457/Feature+flaggor+alla+drakar)
VITE_IS_SUPPORTMANAGEMENT=true
VITE_USE_TWO_LEVEL_CATEGORIZATION=true
VITE_USE_EXPLANATION_OF_THE_CAUSE=true
VITE_USE_REASON_FOR_CONTACT=true
VITE_USE_BUSINESS_CASE=true
VITE_USE_FACILITIES=true
VITE_USE_DEPARTMENT_ESCALATION=true
VITE_USE_ORGANIZATION_STAKEHOLDER=true
VITE_USE_EMAIL_CONTACT_CHANNEL=true
VITE_USE_SMS_CONTACT_CHANNEL=true
VITE_USE_STAKEHOLDER_RELATIONS=true
VITE_USE_ROLES_FOR_STAKEHOLDERS=true
VITE_USE_ESCALATION=true
VITE_USE_MY_PAGES=true
#Temporary
VITE_USE_RELATIONS=true
VITE_PROTECTED_ROUTES=/oversikt,/registrera,/arende
VITE_APP_URL=http://localhost:3000