VITE_API_URL=http://localhost:3001/LOP
DOMAIN_NAME=localhost
VITE_APPLICATION=LOP
VITE_APPLICATION_NAME="Lön och Pension"
VITE_BASEPATH=/LOP
VITE_ENVIRONMENT=TEST
VITE_MATOMO_URL=
VITE_MATOMO_SITE_ID=
VITE_MUNICIPALITY_ID=2281
VITE_REOPEN_SUPPORT_ERRAND_LIMIT=30
VITE_SHOW_DEPLOY_INFO=false

# Temporary for LOP invoice changes
VITE_INVOICE_BREAK_DATE="2025-12-31"

#Global flags (Documentation: https://confluence.sundsvall.se/spaces/OA/pages/1259405457/Feature+flaggor+alla+drakar)
VITE_IS_SUPPORTMANAGEMENT=true
VITE_USE_THREE_LEVEL_CATEGORIZATION=true
VITE_USE_BILLING=true
VITE_USE_EMPLOYEE_SEARCH=true
VITE_USE_EMAIL_CONTACT_CHANNEL=true
VITE_USE_SMS_CONTACT_CHANNEL=true
VITE_USE_ROLES_FOR_STAKEHOLDERS=true
VITE_USE_DETAILS_TAB=true
VITE_USE_ESCALATION=true
VITE_USE_CLOSING_MESSAGE_CHECKBOX=true
VITE_USE_CLOSED_AS_DEFAULT_RESOLUTION=true