.git
**/node_modules
**/.next*
**/dist
**/dist-*
**/coverage
**/test-results
**/playwright-report
**/logs
**/*.log
**/*.log.*
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
**/data/sessions
**/.env*
!frontend/.env-cicd
**/*.pem
**/cert
**/*.tsbuildinfo
.DS_Store

**/.dragon-build-*.json
