@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

 @use './raleway.scss';

// @import "https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css";

@layer base {
  .container {
    @apply px-8;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h6,
.btn {
  font-family: raleway, sans-serif;
}

// NOTE: sticky footer
html,
body,
#__next {
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
}

main.container {
  flex: 1 0 auto;
}

// Custom styles for the rich text editor used in errand description field (without toolbar)

.case-description-editor {
  min-height: 15rem;
  max-height: 60rem;
  resize: vertical;
  overflow: hidden;
}
//Same as above but with toolbar active
.text-editor-with-toolbar .ql-editor {
  height: 40rem;
  min-height: 15rem;
  max-height: 150rem;
  resize: vertical;
  overflow: hidden auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.case-description-editor .ql-container {
  height: 100%;
  box-sizing: border-box;
}

.case-description-editor .ql-editor {
  font-size: 16px;
}

[data-cy="decision-richtext-wrapper"] .ql-editor {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.wrapping-list-item .sk-form-file-upload-list-item-innerwrapper {
 @apply flex-wrap
}