// @import 'tailwindcss';
// @source "../../node_modules/@sk-web-gui";

// @import './raleway.scss';

// @layer base {
//   .container {
//     @apply px-8;
//   }

//   body {
//     font-family: Arial, Helvetica, sans-serif;
//   }

//   h1,
//   h2,
//   h3,
//   h4,
//   h4,
//   h6,
//   .btn {
//     font-family: raleway, sans-serif;
//   }

//   /* NOTE: sticky footer */
//   html,
//   body,
//   #__next {
//     min-height: 100vh;
//   }

//   #__next {
//     display: flex;
//     flex-direction: column;
//   }

//   main.container {
//     flex: 1 0 auto;
//   }
// }

// @layer components {
//   /* Custom styles for the rich text editor used in errand description field */
//   .case-description-editor {
//     min-height: 15rem;
//     max-height: 60rem;
//     resize: vertical;
//     overflow: hidden;
//   }

//   .case-description-editor .ql-container {
//     height: 100%;
//     box-sizing: border-box;
//   }

//   .case-description-editor .ql-editor {
//     font-size: 16px;
//   }

//   .wrapping-list-item .sk-form-file-upload-list-item-innerwrapper {
//     @apply flex-wrap;
//   }
// }